/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /* #d5ff3f; */
  /* #1e1e20; */
  --body-color: #10071e;
  --grns: #3adafd;
  --reds: #fc5746;
  --grey: #c4c4c4;
  --brwn: #eddbc3;
  --lgrey: #c9c9c9;
  --llgrey: #636363;
  --blu: #0d4b81;
  /* --brwn-txt: #e95555;
  --blu-txt: #050596; */

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/

  --title-font-size: 4rem;
  --subtitle-font-size: 1.5rem;
  --himg: 7rem;
  --ribbon-height: 2.5rem;
  --body-font: "Poppins", sans-serif;
}

/* Responsive typography */
@media screen and (min-width: 630px) {
  :root {
    --title-font-size: 6.5rem;
    --subtitle-font-size: 2rem;
    --himg: 9rem;
    --ribbon-height: 3.5rem;
  }
}

@font-face {
  font-family: "dahliabold_condensed";
  src: url("https://media.pixelpunks.gg/fonts/dahlia_bold_condensed-webfont.woff2")
      format("woff2"),
    url("https://media.pixelpunks.gg/fonts/dahlia_bold_condensed-webfont.woff")
      format("woff");
  /* font-weight: normal;
  font-style: normal; */
}

@font-face {
  font-family: "dahliamedium_condensed";
  src: url("https://media.pixelpunks.gg/fonts/dahlia_medium_condensed-webfont.woff2")
      format("woff2"),
    url("https://media.pixelpunks.gg/fonts/dahlia_medium_condensed-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dahliaregular_condensed";
  src: url("https://media.pixelpunks.gg/fonts/dahlia_regular_condensed-webfont.woff2")
      format("woff2"),
    url("https://media.pixelpunks.gg/fonts/dahlia_regular_condensed-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s; /* for light mode animation */
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1080px;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 25px;
  overflow: hidden;
}

.main {
  overflow: hidden;
}

/* ==================PRELOADER================= */
.preloader {
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1300;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.loader__img {
  width: 200px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circle {
  position: absolute;
}

.preloader svg {
  width: 250px;
  height: 250px;
}

.preloader svg .ripple {
  fill: transparent;
  stroke: var(--grns);
  stroke-width: 3px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: 2s ease-out 0s infinite ripple-out;
  animation: 2s ease-out 0s infinite ripple-out;
}

.preloader svg .ripple2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.preloader svg .ripple3 {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

@-webkit-keyframes ripple-out {
  0% {
    r: 0px;
    opacity: 1;
  }
  100% {
    r: 80px;
    opacity: 0;
  }
}

@keyframes ripple-out {
  0% {
    r: 0px;
    opacity: 1;
  }
  100% {
    r: 80px;
    opacity: 0;
  }
}

/* ================NAV SECTION============ */
.nav {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
  margin-bottom: 5rem;
}

.nav__logo {
  width: 120px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hnav {
  position: relative;
}

.hnav__btn {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
  cursor: pointer;
}

.hnav__btn-outline {
  position: absolute;
  width: 70px;
  height: 70px;
  border: 2px solid var(--grns);
}

#toggle-btn {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
  cursor: pointer;
}

.nav__btn-outline {
  position: absolute;
  width: 70px;
  height: 70px;
  border: 2px solid var(--body-color);
}

.nav__btn-outline-1 {
  width: 70px;
  height: 70px;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 4s linear infinite;
}

.nav__btn-outline-2 {
  width: 70px;
  height: 70px;
  border-radius: 53% 47% 43% 57% / 51% 39% 61% 49%;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.nav__hamburger {
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 101;
}

.nav__hamburger span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 24px;
  height: 2px;
  background-color: var(--body-color);
  transition: transform 0.4s ease-in-out;
}

.nav__hamburger span::before {
  content: "";
  position: absolute;
  display: inline-block;
  right: 0;
  width: 18px;
  height: 2px;
  background-color: var(--body-color);
  transform: translateY(-4px);
  transition: transform 0.4s ease-in-out;
}

.active span {
  transform: rotate(45deg);
  background-color: var(--grns);
}

.active span::before {
  top: unset;
  width: 24px;
  transform: rotate(-90deg);
  background-color: var(--grns);
}

.menu {
  width: 100%;
  height: 100vh;
  font-family: "dahliabold_condensed";
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
  transform: translateY(-100%);
}

.menu a {
  color: var(--grns);
}

.menu a span {
  font-size: 1.5rem;
  margin-right: 2rem;
  font-weight: bold;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primary-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.primary-menu .menu-container .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primary-menu a {
  text-transform: uppercase;
  font-size: 7.5rem;
}

.primary-menu .menu-container .wrapper .menu-item:nth-child(1) a,
.primary-menu .menu-container .wrapper .menu-item:nth-child(3) a {
  margin-left: 4rem;
}

.secondary-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 0 0 3rem 3rem;
}

.secondary-menu .menu-item a {
  font-family: "dahliabold_condensed";
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--lgrey);
}

.secondary-menu .menu-container .wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* ================HERO SECTION============ */

.hero {
  display: flex;
  flex-direction: column;
  background-color: var(--grns);
  position: relative;
}

.hero__container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  border-radius: 25px 25px 0 0;
}

.hero__title {
  color: var(--body-color);
  font-family: "dahliabold_condensed";
  font-size: var(--title-font-size);
  text-transform: uppercase;
  font-weight: bold;
}

.hero__title--up {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-weight: bold;
}

.hero__title--up-img {
  width: var(--himg);
  height: var(--title-font-size);
  border-radius: 50px;
  background-color: var(--blu);
  padding: 0 2rem;
}

.hero__subtitle {
  font-family: "dahliamedium_condensed";
  font-size: var(--subtitle-font-size);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: bold;
}

.talk__button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--body-color);
  color: var(--grns);
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.talk__button i {
  margin-left: 1rem;
  transform: rotate(-45deg);
}

.hero__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--title-font-size);
  border-radius: 25px;
  position: relative;
  bottom: -50px;
  z-index: 1;
  border-radius: 0 0 50px 50px;
}

.hero__image img {
  width: 190%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px 50px 0 0;
}

.ribb {
  z-index: 10;
  bottom: 20px;
  height: 11rem;
  overflow: hidden;
  border-radius: 0;
  position: relative;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ribbon {
  background-color: var(--grns);
  width: 150%;
  font-family: "dahliabold_condensed";
  font-size: 2rem;
  padding: 1rem 0;
  color: var(--llgrey);
  border: 0.5px solid var(--body-color);
}

.ribbon__f {
  transform: rotate(5deg);
}

.ribbon__s {
  transform: rotate(-5deg);
  position: absolute;
}

/* ================services================== */
.services {
  margin-top: 3rem;
}

.services__head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--llgrey);
}

.services__title {
  font-family: "dahliabold_condensed";
  font-size: var(--title-font-size);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--lgrey);
  text-align: center;
  margin-bottom: 2rem;
}

.services__subtitle {
  max-width: 500px;
  font-family: "dahliaregular_condensed";
  font-size: var(--subtitle-font-size);
  text-align: center;
  color: var(--lgrey);
  padding-bottom: 2rem;
}

.services__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  font-family: "dahliamedium_condensed";
  font-size: var(--title-font-size);
  color: var(--llgrey);
}

.services__image {
  display: none;
}

.services__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--llgrey);
}

.services__icon i {
  font-size: var(--title-font-size);
  transform: rotate(-45deg);
  color: var(--grns);
}

/* ==================WORK====================== */
.work {
  margin-top: 5rem;
}

.work__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 100%;
}

.work__item {
  width: 100%;
  background-color: var(--grns);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.work__item-title {
  grid-column: 1 / 5;
  padding: 2rem;
  background-color: var(--body-color);
  border: 0.1px solid var(--llgrey);
}

.work__item-title-head {
  font-family: "dahliabold_condensed";
  font-size: var(--title-font-size);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--lgrey);
  text-align: center;
  margin-bottom: 1rem;
}

.work__item-title-sub {
  max-width: 500px;
  font-family: "dahliaregular_condensed";
  font-size: var(--subtitle-font-size);
  text-align: center;
  color: var(--lgrey);
}

.work__item-1 {
  width: 100%;
  height: 400px;
  grid-column: 1 / 5;
}

.work__item-2 {
  grid-column: 1 / 3;
  height: 200px;
}

.work__item-3 {
  grid-column: 3 / 5;
  height: 200px;
}

.work__item-4 {
  grid-column: 1 / 5;
  height: 500px;
}

.work__item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* =======================Video======================== */

.video {
  margin-top: 3rem;
}

.video__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem 0;
}

.video__item-title {
  grid-column: 1 / 4;
  padding: 2rem;
  background-color: var(--body-color);
  border: 0.1px solid var(--llgrey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 50px;
  text-align: center;
}

.video__item-title-head {
  font-family: "dahliabold_condensed";
  font-size: var(--title-font-size);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--lgrey);
}

.video__item-title-sub {
  max-width: 500px;
  font-family: "dahliaregular_condensed";
  font-size: var(--subtitle-font-size);
  color: var(--lgrey);
}

.video__item-video {
  grid-column: 1/4;
  width: 100%;
  height: auto;
  border-radius: 45px;
  overflow: hidden;
  position: relative;
}

.video__item-video video {
  width: 100%;
  height: 100%;
}

.video__item-video:hover video {
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
}
.video__item-video-play {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grns);
  color: var(--body-color);
  font-size: var(--subtitle-font-size);
}

/* =====================Newsletter===================== */

.newsletter {
  margin-top: 3rem;
  /* padding: 1rem; */
  font-family: "dahliamedium_condensed";
  color: var(--llgrey);
}

.newsletter__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.newsletter__image {
  grid-column: 1/3;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newsletter__head {
  grid-column: 1 / 3;
  padding: 2rem;
  background-color: var(--body-color);
  border: 0.1px solid var(--llgrey);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.newsletter__title {
  font-family: "dahliabold_condensed";
  font-size: var(--title-font-size);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--lgrey);
}

.newsletter__subtitle {
  max-width: 500px;
  font-family: "dahliaregular_condensed";
  font-size: var(--subtitle-font-size);
  color: var(--lgrey);
}

.newsletter__form {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.newsletter__form-input {
  width: 100%;
  padding: 2rem;
  border-radius: 35px;
  border: 0.1px solid var(--llgrey);
  outline: none;
  font-family: "dahliamedium_condensed";
  font-size: var(--subtitle-font-size);
  color: var(--grns);
  font-weight: bold;
}

.newsletter__form input {
  background-color: transparent;
}

.newsletter__form-input::placeholder {
  color: var(--lgrey);
}

.newsletter__form-input:focus {
  border: 0.1px solid var(--grns);
}

.newsletter__form-btn {
  position: absolute;
  right: 1rem;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grns);
  color: var(--body-color);
  font-size: var(--subtitle-font-size);
}

.newsletter__form-btn i {
  transform: rotate(-45deg);
}

.newsletter__form-btn:hover {
  background-color: var(--body-color);
  color: var(--grns);
  transition: 0.4s ease-in-out;
}

/* =============================CONTACT US ============================= */
.contact {
  margin-top: 3rem;
  background-color: var(--grns);
  border-radius: 0 0 45px 45px;
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contact__title {
  font-family: "dahliabold_condensed";
  font-size: var(--title-font-size);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--body-color);
  text-align: center;
}

.contact__talk {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 5rem;
  font-family: "dahliaregular_condensed";
  font-size: var(--subtitle-font-size);
  background-color: var(--body-color);
  color: var(--grns);
  border-radius: 45px;
  font-weight: bold;
  cursor: pointer;
}

.contact__talk:hover,
.contact__socials i:hover {
  background-color: #4b5233;
  transition: 0.4s ease-in-out;
}

.contact__talk a {
  color: var(--grns);
}

/* =======================FOOTER======================= */

.footer {
  margin-top: 5rem;
  background-color: var(--body-color);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer__logo {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.footer__socials i {
  font-size: 1.5rem;
  color: var(--grns);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: "dahliaregular_condensed";
  font-size: var(--subtitle-font-size);
  color: var(--grns);
  border-bottom: 0.1px solid var(--grns);
  padding-bottom: 1rem;
}

.footer__bottom a {
  color: var(--grns);
}

@media screen and (min-width: 630px) {
  .hero__image {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .nav {
    width: 100%;
  }

  .menu {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .primary-menu {
    margin-top: 0;
  }

  .secondary-menu {
    margin: 0;
  }

  .hero__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .hero__subtitle {
    width: 35%;
  }

  .services__head {
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem 0;
  }

  .services__subtitle {
    text-align: right;
  }

  .work__container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(5, 1fr);
    height: auto;
  }

  .work__item {
    height: auto;
  }

  .work__item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
  }

  .work__item-title {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .work__item-2 {
    grid-column: 1 / 2;
    grid-row: 4 / 6;
  }

  .work__item-3 {
    grid-column: 2 / 3;
    grid-row: 4 / 6;
  }

  .work__item-4 {
    grid-column: 3 / 4;
    grid-row: 3 / 6;
  }

  /* newsletter */

  .newsletter {
    margin-top: 5rem;
  }

  .newsletter__container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .newsletter__image {
    grid-column: 4/6;
    grid-row: 1 / 4;
  }

  .newsletter__head {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
  }

  .newsletter__title {
    font-size: 5rem;
  }

  .newsletter__form {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  /* video */
  .video__container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .video__item-title {
    grid-column: 4 / 6;
    grid-row: 1 / 3;
  }

  .video__item-title-head {
    font-size: 5rem;
  }

  .video__item-video {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
  }
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--body-color);
}

::-webkit-scrollbar-track {
  border-radius: 1.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--grns);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e8ffa5;
}
